/* header styles */
*{
    margin: 0px;
}

header {
    background-image: url("https://www.linkpicture.com/q/banner2_15.png");
    background-size: cover;
    height: 809px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.header-text{
    margin-top: 200px;
    text-align: right;
    height: 228px;
    width: 525px;
    left: 845px;
    top: 216px;
    padding-right: 200px;
}

.header-paragraph{
    height: 78px;
    top: 468px;
    border-radius: nullpx;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}

.primary-btn{
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: rgb(16, 131, 238);
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* End of header styles */



.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.middle-text{ 
    height: 228px;
    width: 525px;
    left: 845px;
    top: 216px;
    padding: 0px 50px;
    
}

.middle-headline, .middle-para{
    width: 374px;
    height: 70px;
    left: 862px;
    top: 1178px;
    text-align: justify;
}



/* Skills-Sections Styles */

.skills-section h2{ 
    text-align: center;
    padding-bottom: 50px;
}

.skills
{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding-bottom: 150px;
}

.skills p{
        color: #737272;

    }
    

/* Banner style */

.banner{
    padding-bottom: 200px;
}

.banner-text{

    background-image: url("https://www.linkpicture.com/q/watch_3.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 30%);
    padding-top: 100px; 
    padding-left: 30px;
}
.banner-button{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
}


/* Footer styles */
footer{
    background: #151414;
    height: 400px;
    left: 0px;
    top: 500px;
}
.footer-section
{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 200px;
}

.footer-section .text{
    width: 485px;
}
