/* header styles */
*{
    margin: 0px;
}

header {
    background-image: url("https://www.linkpicture.com/q/banner2_15.png");
    background-size: cover;
    height: 809px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.header-text{
    margin-top: 200px;
    text-align: right;
    height: 228px;
    width: 525px;
    left: 845px;
    top: 216px;
    padding-right: 200px;
}

.header-paragraph{
    height: 78px;
    top: 468px;
    border-radius: nullpx;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}

.primary-btn{
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: rgb(16, 131, 238);
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* End of header styles */



.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-text{ 
    height: 228px;
    width: 525px;
    left: 845px;
    top: 216px;
    padding: 0px 50px;
    
}

.middle-headline, .middle-para{
    width: 374px;
    height: 70px;
    left: 862px;
    top: 1178px;
    text-align: justify;
}



/* Skills-Sections Styles */

.skills-section h2{ 
    text-align: center;
    padding-bottom: 50px;
}

.skills
{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding-bottom: 50px;
}

.skills p{
        color: #737272;

    }
    